<!-- HEADER SECTION -->
<div class="projects-header">
    <div class="project-details">
        <h2 class="details-title">Find out about the latest topics in our industry</h2>
        <div class="details-content">
            <p class="details-desc"> Read our blogs here</p>
        </div>
    </div>
</div>
<div class="blog-list">
    <div class="blog-card">
        <a href="/pages/blog/planning-permission-for-extensions-in-york">
            <img src="/static/img/image2.png" alt="Single-Storey Rear Extension Planning Permission Drawings">
            <div class="blog-card-details">
                <div class="blog-author">
                    Planning Permission for Extensions in York: What Homeowners Need to Know
                </div>
            </div>
            <p>Thinking about extending your home in York? Before you dive in, it’s worth understanding the basics
                of planning permission — and what you might be able to do without it.</p>
        </a>
    </div>
    <!-- <div class="blog-card">
        <a href="/pages/blog/blog1">
            <img src="/static/img/image2.png" alt="Single-Storey Rear Extension Planning Permission Drawings">
            <div class="blog-details">
                <div class="blog-author">
                    Planning Permission for Extensions in York: What Homeowners Need to Know
                </div>
            </div>
            <p>Thinking about extending your home in York? Before you dive in, it’s worth understanding the basics
                of planning permission — and what you might be able to do without it.</p>
        </a>
    </div>
    <div class="blog-card">
        <a href="/pages/blog/blog1">
            <img src="/static/img/image2.png" alt="Single-Storey Rear Extension Planning Permission Drawings">
            <div class="blog-details">
                <div class="blog-author">
                    Planning Permission for Extensions in York: What Homeowners Need to Know
                </div>
            </div>
            <p>Thinking about extending your home in York? Before you dive in, it’s worth understanding the basics
                of planning permission — and what you might be able to do without it.</p>
        </a>
    </div> -->
</div>