<!-- HERO SECTION -->
<div class="hero-bg">
    <div class="hero-content">
        <div class="logo-block">
            <img src="static/img/Logo2.png" alt="York Drawing Services" class="logo-img" />
            <h1 class="hero-title">YOUR DREAM HOME.<br />BEAUTIFULLY DESIGNED,<br />REASONABLY PRICED.</h1>
            <p class="hero-desc">Specialists in architectural and interior design. <br> Tailored to your lifestyle,
                built for your budget.</p>
            <div class="container">
                <a href="#contact-us" class="button hero-btn">CONTACT US</a>
            </div>
        </div>
        <div class="drawing-preview hero-right-bg">
            <div class="carousel">
                <img class="carousel-image" src="static/img/Single-Rear.png" alt="Single Storey Extension" />
                <img class="carousel-image" src="static/img/windows.png" alt="Listed Building Window Replacement" />
                <img class="carousel-image" src="static/img/Ivy Dene.png" alt="New Outbuilding" />
                <img class="carousel-image" src="static/img/Deramore.png" alt="Single Storey Extenstion Floor Plan" />
            </div>
        </div>
    </div>
</div>

<!-- OVERVIEW SECTION -->
<div class="overview">
    <div class="overview-content">
        <div class="overview-content-left">
            <img class="overview-image" src="/static/img/IvyHolme/thumbs/DSCF7459.png" alt="Interior" />
        </div>
        <div class="company-overview-block">
            <h2 class="company-overview-name">YORK DRAWING SERVICES</h2>
            <h1 class="company-overview-title">YORK'S SPECIALISTS IN ARCHITECTURAL AND INTERIOR DESIGN.</h1>
            <p>As a specialist architectural and interior design studio, York Drawing Services
                creates thoughtful, functional spaces designed around the way you live. We work closely with homeowners
                and
                businesses to deliver tailored design solutions that balance creativity, practicality, and budget — from
                initial concept through to detailed design.
            </p>
            <p>Whether you’re planning a new build, renovation, or interior transformation, our experienced team will
                guide
                you every step of the way. We believe great design should be accessible, not overwhelming, which is why
                we
                focus on clear communication, realistic budgets, and designs that seamlessly integrate with your
                lifestyle
                and existing space.
            </p>
            <p>Planning a build, renovation, or redesign? Contact York Drawing Services today and let us help you turn
                your
                ideas into a space that works</p>
            <a href="#contact-us" class="button hero-btn">GET A FREE QUOTE</a>
        </div>
    </div>
</div>

<!-- PACKAGES/PRICES SECTION
<div class="container package-section">
    <h2 class="section-title">OUR DRAWING PACKAGES</h2>
    <div class="package-inner">
        <div class="package-left">
            <div>
                <h3>WHAT'S INCLUDED?</h3>
                <ul>
                    <li>Existing Floorplan</li>
                    <li>Proposed Floorplan</li>
                    <li>Existing Elevations</li>
                    <li>Proposed Elevations</li>
                </ul>
                <p>Scaled 1:50 or 1:100 @ A3</p>
            </div>
            <div class="package-bottom">
                <h3>TURNAROUND TIMES</h3>
                <p>We aim to deliver your drawings within 2 weeks of your site survey.</p>
                <p>We offer an express service of 1 week for £495.</p>
            </div>
        </div>
        <div class="package-right">
            <div>
                <h3>PRICES</h3>
                <ul class="price-list">
                    <li>Porch extension <span>£995</span></li>
                    <li>Outbuilding / garage conversion <span>£995</span></li>
                    <li>Single storey extension <span>£1295</span></li>
                    <li>Loft conversion <span>£1495</span></li>
                    <li>Two storey extension <span>£1995</span></li>
                </ul>
            </div>
            <div class="package-bottom">
                <h3>OPTIONAL EXTRAS</h3>
                <ul class="price-list">
                    <li>Site/Block Plan <span>£20</span></li>
                    <li>Location Plan <span>£30</span></li>
                </ul>
            </div>
        </div>
    </div>
</div> -->

<!-- PROJECTS SECTION -->
<div class="projects-bg"></div>
<div class="container projects-section">
    <h2 class="section-title">PROJECTS</h2>
    <div class="projects-list">
        <div class="project-card">
            <a href="/pages/ivy">
                <img src="static/img/IvyHolme/thumbs/DSCF7468.png" alt="New Outbuilding / Summerhouse" />
                <div class="project-title">Ivy Holme</div>
                <div class="project-desc">Summerhouse / outbuilding design</div>
                <p class="button hero-btn">FIND OUT MORE</p>
            </a>
        </div>
        <div class="project-card">
            <a href="/pages/deramore">
                <img src="/static/img/Deramore/image1_rendered.png" alt="Rear Single-Storey Extension" />
                <div class="project-title">Deramore</div>
                <div class="project-desc">Single storey rear extension design</div>
                <p class="button hero-btn">FIND OUT MORE</p>
            </a>
        </div>
        <!-- div class="project-card">
            <a href="static/img/image1.png" target="_blank">
                <img src="static/img/image1.png" alt="Poplar Grove" />
            </a>
            <div class="project-title">Poplar Grove</div>
        </div -->
        <div class="project-card">
            <a href="/pages/tawny">
                <img src="/static/img/Tawny/TawnyKitchen.png" alt="Tawny House" />
                <div class="project-title">Tawny House</div>
                <div class="project-desc">Remodel design & project management</div>
                <p class="button hero-btn">FIND OUT MORE</p>
            </a>
        </div>
    </div>
</div>
</div>

<!-- TESTIMONIALS SECTION -->
<div class="testimonial-bg">
    <div class="testimonials-section">
        <h2 class="section-title">TESTIMONIALS</h2>
        <p class="testimonial-desc">what our clients say about us</p>
        <div class="testimonials-list">
            <div class="testimonial-card">
                <p>Absolutely amazing service. Sophia really listened to our wants and needs and went above and beyond.
                    Very happy with the service she provided. I will be highly recommending to all my friends and
                    family!</p>
                <div class="testimonial-details">
                    <div class="testimonial-author">
                        LOTTIE CARRINGTON
                        <p>Google</p>
                    </div>
                    <div class="testimonial-rating">
                        ★★★★★
                    </div>
                </div>
            </div>
            <div class="testimonial-card">
                <p>Wonderful service, very happy with the result and it helped us a lot in understanding the process
                    since this is our first time</p>
                <div class="testimonial-details">
                    <div class="testimonial-author">
                        AMBER BECK
                        <p>Google</p>
                    </div>
                    <div class="testimonial-rating">
                        ★★★★★
                    </div>
                </div>
            </div>
            <div class="testimonial-card">
                <p>We would definitely recommend York Drawing services to do your building control drawings. Sophia was
                    prompt and efficient from start to finish and very competitive with her prices!</p>
                <div class="testimonial-details">
                    <div class="testimonial-author">
                        JOHN YEOMAN
                        <p>Google</p>
                    </div>
                    <div class="testimonial-rating">
                        ★★★★★
                    </div>
                </div>
            </div>
        </div>
        <div class="testimonials-button">
            <a href="/pages/reviews" class="button hero-btn">READ MORE REVIEWS</a>
        </div>
    </div>
</div>

<!-- CONTACT SECTION -->
<div class="container contact-section" id="contact-us">
    <div class="contact-inner">
        <div class="contact-details">
            <h2>CONTACT US TODAY</h2>
            <p><strong>Tel:</strong> 07353 765766<br />
                <strong>Email:</strong> hello@yorkdrawingservices.com<br />
                <strong>Social:</strong> @yorkdrawingservices
            </p>
            <a class="button contact-btn" href="tel:07353765766">CALL US</a>
            <a class="button contact-btn" href="mailto:hello@yorkdrawingservices.com">EMAIL US</a>
        </div>
        <div class="contact-form-block">
            <span class="contact-form-label"></span>
            <form id="contact-form" action="https://formspree.io/f/xnnpbzdl" method="POST">
                <fieldset>
                    <p id="contact-form-status"></p>
                    <div class="field">
                        <label for="name">Name</label>
                        <input class="input w-full" required name="name" />
                    </div>
                    <div class="field">
                        <label for="telephone">Phone number</label>
                        <input class="input w-full" required type="tel" name="telephone" />
                    </div>
                    <div class="field">
                        <label for="email">Email</label>
                        <input class="input w-full" required type="email" name="email" />
                    </div>
                    <div class="field">
                        <label for="message">Project address and description</label>
                        <textarea rows="4" style="height:125px" class="input w-full" required name="message"></textarea>
                    </div>
                    <div class="field">
                        <button id="submit-button" class="button" type="submit">Send</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<script>
    var registerFormHandler = function () {
        var form = document.getElementById("contact-form");
        function handleSubmit(event) {
            event.preventDefault();
            var status = document.getElementById("contact-form-status");
            status.classList.remove("success", "error");
            var data = new FormData(event.target);
            form.getElementsByTagName("fieldset")[0].setAttribute("disabled", "true")
            fetch(event.target.action, {
                method: form.method,
                body: data,
                headers: {
                    'Accept': 'application/json'
                }
            }).then(response => {
                if (response.ok) {
                    status.innerHTML = "Thanks for your message! We'll get back to you soon.";
                    status.classList.add("success");
                    form.reset()
                } else {
                    status.classList.add("error");
                    response.json().then(data => {
                        if (Object.hasOwn(data, 'errors')) {
                            status.innerHTML = data["errors"].map(error => error["message"]).join(", ")
                        } else {
                            status.innerHTML = "Oops! There was a problem submitting your form"
                        }
                    })
                }
            }).catch(error => {
                status.classList.add("error");
                status.innerHTML = "Oops! There was a problem submitting your form"
            }).finally(() => {
                form.getElementsByTagName("fieldset")[0].setAttribute("disabled", "false")
            });
        }
        form.addEventListener("submit", handleSubmit)
    }

    function initImageCarousel(carousel) {
        const images = carousel.querySelectorAll('.carousel-image');
        let current = 0;
        const int = setInterval(() => {
            images[current].style.opacity = 0;
            current = (current + 1) % images.length;
            images[current].style.opacity = 1;
        }, 3500); // Change image every 3.5 seconds
    }

    function initImageCarousels() {
        const carousels = document.querySelectorAll('.carousel');
        carousels.forEach(carousel => {
            initImageCarousel(carousel);
        });
    }


    addEventListener("DOMContentLoaded", function () {
        registerFormHandler();
        initImageCarousels();
    });
</script>