<div class="container">
    <div class="container-inner">
        <div class="text-center">
            <div class="logo-img"><img width="100%" src="static/img/logo.png" alt="York Drawing Services" />
            </div>
            <h1 class="text-xl">York Drawing<br /><span class="logo-type-small">Services</span></h1>
        </div>
    </div>
</div>
<div class="hero-subtext lg-desktop">
    <div class="">
        <p>Your Dream Home. Beautifully Designed,<br />Reasonably Priced.</p>
    </div>

    <div class="space-top">
        <a href="#contact-us" class="button" >Get in touch &raquo;</a>
    </div>
</div>
<div class="container">
    <div class="container-inner">
        <div class="flex flex-wrap gap-h gap-v">
            <div class="flex-even  showcase-img">
                <img width="100%" src="static/img/image1.png" />
            </div>
            <div class="flex-even  showcase-img">
                <img width="100%" src="static/img/image2.png" />
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="container-inner">
        <div class="flex flex-wrap gap-h gap-v">
            <div class="flex-even ">
                <h2>PRICES</h2>
                <table class="w-full ">
                    <thead>
                        <tr>
                            <th>DRAWING TYPE</th>
                            <th>PRICE</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Existing Floor Plans and Elevations</td>
                            <td>£295</td>
                        </tr>
                        <tr>
                            <td>Porch Extension</td>
                            <td>£695</td>
                        </tr>
                        <tr>
                            <td>Outbuilding/Garage</td>
                            <td>£695</td>
                        </tr>
                        <tr>
                            <td>Single Storey Extension</td>
                            <td>£795</td>

                        </tr>
                        <tr>
                            <td>Loft Conversion</td>
                            <td>£895</td>

                        </tr>
                        <tr>
                            <td>Two Storey Extension</td>
                            <td>£995</td>

                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="flex-even ">
                <h2>WHAT&#39;S INCLUDED</h2>
                <ul class="">
                    <li>1:100 scaled A3 Floor Plan</li>
                    <li>1:100 scaled A3 Elevations</li>
                    <li>1:1250 site map</li>
                    <li>1:200 block plan</li>
                </ul>

                <h2>TURNAROUND TIMES</h2>
                <table class="w-full ">
                    <tbody>
                        <tr>
                            <th>Standard (2 weeks)</th>
                            <td>FREE</td>
                        </tr>
                        <tr>
                            <th>Express</th>
                            <td>£195</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="container-inner hero-subtext">
        <p>Our mission is to bring your dream spaces to life, one clear and creative drawing at a time, at
            prices that won't break the bank! We want everyone to be able to see exactly what they'll pay, and
            we'll always work hard to give you the best possible price for your planning permission drawings.
            We're here to help make building and designing fun and easy to understand, so everyone can see their
            ideas take shape!</p>
    </div>
</div>
<div class="container">
    <div class="container-inner">
        <h2 id="contact-us">CONTACT US</h2>
        <p>Fill out the form below and we&#39;ll get back to you as quickly as we can. All
            fields
            are
            required.</p>
        <p>If you&#39;d prefer to email us directly, that&#39;s totally fine! You can find our
            email
            address
            below.</p>
        <form id="contact-form" action="https://formspree.io/f/xnnpbzdl" method="POST">
            <fieldset>
                <p id="contact-form-status"></p>
                <div class="flex  gap-h flex-wrap">
                    <div class="flex-even">
                        <div class="field">
                            <label for="name">Name</label>
                            <input class="input w-full" required name="name" />
                        </div>
                        <div class="field">
                            <label for="telephone">Phone number</label>
                            <input class="input w-full" required type="tel" name="telephone" />
                        </div>
                        <div class="field">
                            <label for="email">Email</label>
                            <input class="input w-full" required type="email" name="email" />
                        </div>
                    </div>
                    <div class="flex-even">
                        <div class="field">
                            <label for="message">Message</label>
                            <textarea rows="4" style="height:125px" class="input w-full" required
                                name="message"></textarea>
                        </div>
                        <div class="field">
                            <button id="submit-button" class="button" type="submit">Send</button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>

        <p class="text-center"><a class="button contact-button"
                href="mailto:hello@yorkdrawingservices.com">Email us: hello@yorkdrawingservices.com</a></p>
        <p class="text-center"><a class="button contact-button" href="tel:07471133494">Call us: 07471133494</a></p>

    </div>
</div>
<div class="container">
    <div class="container-inner space-top-lg">
        <div class="flex gap-h gap-v flex-wrap">
            <div class="flex-even">
                <div class="review">
                    <div>
                        <p class="text-italic">&quot;Absolutely amazing service. Sophia really listened to our wants and needs and went above and beyond. Very happy with the service she provided. I will be highly recommending to all my friends and family!&quot;</p>
                    </div>
                    <div>
                        <p class="text-bold">Lottie C</p>
                    </div>
                    <div>
                        <img class="star-img" width="25" height="25" src="static/img/star.svg" />
                        <img class="star-img" width="25" height="25" src="static/img/star.svg" />
                        <img class="star-img" width="25" height="25" src="static/img/star.svg" />
                        <img class="star-img" width="25" height="25" src="static/img/star.svg" />
                        <img class="star-img" width="25" height="25" src="static/img/star.svg" />
                    </div>
                </div>
            </div>
            <div class="flex-even">
                <div class="review">
                    <div>
                        <p class="text-italic">&quot;We would definitely recommend York Drawing services to do your building control drawings. Sophia was prompt and efficient from start to finish and very competitive with her prices!&quot;</p>
                    </div>
                    <div>
                        <p class="text-bold">John Y</p>
                    </div>
                    <div>
                        <img class="star-img" width="25" height="25" src="static/img/star.svg" />
                        <img class="star-img" width="25" height="25" src="static/img/star.svg" />
                        <img class="star-img" width="25" height="25" src="static/img/star.svg" />
                        <img class="star-img" width="25" height="25" src="static/img/star.svg" />
                        <img class="star-img" width="25" height="25" src="static/img/star.svg" />
                    </div>
                </div>
            </div>
            <div class="flex-even">
                <div class="review">
                    <div>
                        <p class="text-italic">&quot;Wonderful service, very happy with the result and it helped us a lot in understanding the process since this is our first time&quot;</p>
                    </div>
                    <div>
                        <p class="text-bold">Amber B</p>
                    </div>
                    <div>
                        <img class="star-img" width="25" height="25" src="static/img/star.svg" />
                        <img class="star-img" width="25" height="25" src="static/img/star.svg" />
                        <img class="star-img" width="25" height="25" src="static/img/star.svg" />
                        <img class="star-img" width="25" height="25" src="static/img/star.svg" />
                        <img class="star-img" width="25" height="25" src="static/img/star.svg" />
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    var registerFormHandler = function () {
        var form = document.getElementById("contact-form");

        function handleSubmit(event) {
            event.preventDefault();
            var status = document.getElementById("contact-form-status");
            status.classList.remove("success", "error");
            var data = new FormData(event.target);

            form.getElementsByTagName("fieldset")[0].setAttribute("disabled", "true")

            fetch(event.target.action, {
                method: form.method,
                body: data,
                headers: {
                    'Accept': 'application/json'
                }
            }).then(response => {
                if (response.ok) {
                    status.innerHTML = "Thanks for your message! We'll get back to you soon.";
                    status.classList.add("success");
                    form.reset()
                } else {
                    status.classList.add("error");
                    response.json().then(data => {
                        if (Object.hasOwn(data, 'errors')) {
                            status.innerHTML = data["errors"].map(error => error["message"]).join(", ")
                        } else {
                            status.innerHTML = "Oops! There was a problem submitting your form"
                        }
                    })
                }
            }).catch(error => {
                status.classList.add("error");
                status.innerHTML = "Oops! There was a problem submitting your form"
            }).finally(() => {
                form.getElementsByTagName("fieldset")[0].setAttribute("disabled", "false")
            });
        }
        form.addEventListener("submit", handleSubmit)
    }

    addEventListener("DOMContentLoaded", registerFormHandler);
</script>