<!-- HEADER SECTION -->
<div class="projects-header">
    <h1 class="section-title">IVY HOLME</h1>
    <div class="container project-details">
        <h2 class="details-title">PROJECT DETAILS</h2>
        <div class="details-content">
            <p class="details-desc">Our client had a spacious garden with an unused area set away from the main house.
                They wanted to transform this space into a family-friendly retreat featuring ample windows to showcase
                and enjoy the surrounding landscape.</p>
            <div class="details-highlights">
                <table>
                    <tr>
                        <td><strong>LOCATION: </strong></td>
                        <td>York Village</td>
                    </tr>
                    <tr>
                        <td><strong>DATE: </strong></td>
                        <td>2025</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="main-img">
        <img src="/static/img/IvyHolme/full/DSCF7468.png">
    </div>
    <div class="container project-para">
        <!-- <h2>Design Process</h2> -->
        <div class="project-collage">
            <div class="collage-column">
                <!-- <a target="_blank" href="/static/img/IvyHolme/full/DSCF7468.png"><img
                    src="/static/img/IvyHolme/thumbs/DSCF7468.png"></a> -->
                <a target="_blank" href="/static/img/IvyHolme/full/DSCF7478.png"><img
                        src="/static/img/IvyHolme/thumbs/DSCF7478.png"></a>
                <a target="_blank" href="/static/img/IvyHolme/full/DSCF7459.png"><img
                        src="/static/img/IvyHolme/thumbs/DSCF7459.png"></a>
                <!-- <a target="_blank" href="/static/img/IvyHolme/full/DSCF7452.png"><img
                    src="/static/img/IvyHolme/thumbs/DSCF7452.png"></a> -->
            </div>
            <div class="collage-column">
                <a target="_blank" href="/static/img/IvyHolme/full/DSCF7451.png"><img
                        src="/static/img/IvyHolme/thumbs/DSCF7451.png"></a>
                <a target="_blank" href="/static/img/IvyHolme/full/DSCF7486.png"><img
                        src="/static/img/IvyHolme/thumbs/DSCF7486.png"></a>
            </div>
            <div class="collage-column">
                <a target="_blank" href="/static/img/IvyHolme/full/DSCF7474.png"><img
                        src="/static/img/IvyHolme/thumbs/DSCF7474.png"></a>
                <a target="_blank" href="/static/img/IvyHolme/full/DSCF7464.png"><img
                        src="/static/img/IvyHolme/thumbs/DSCF7464.png"></a>
            </div>
        </div>
    </div>
    <hr>
    <div class="container project-plans">
        <div class="plan-card">
            <img src="/static/img/Ivy Dene.png" alt="Ivy Holme Floor Plans">
            <figcaption>Site Plan</figcaption>
        </div>
        <div class="plan-card">
            <img src="/static/img/Single-Rear.png" alt="Ivy Holme Elevations">
            <figcaption>Elevations</figcaption>
        </div>
    </div>
</div>