<!-- HEADER SECTION -->
<div class="projects-header">
    <div class="title-and-links">
        <div class="header-titles">
            <h1 class="section-header"><a href="https://yorkdrawingservices.com/">YDS</a></h1>
            <!-- <h1 class="project-name">IVY HOLME</h1> -->
        </div>
        <div class="header-link">
        <a class="header-items" href="https://yorkdrawingservices.com/">Home</a>
        <a class="header-items" href="tel:07353765766">
            <x class="phone">
            <small class="icon">&#128222;</small> 07353 765766
            </x>
        </a>
        </div>
    </div>
    <div class="project-details">
        <h2 class="details-title">IVY HOLME SUMMERHOUSE</h2>
        <div class="details-content">
            <p class="details-desc"> This project showcases our 
                ability to create fluid indoor/outdoor living while integrating sustainable materials and systems for a low-impact, landscape-led result.</p>
                <a href="#contact-us" class="button hero-btn">BRIEF US ON YOUR PROJECT</a>
                
                <!-- Our client had a spacious garden with an unused area set away from the main house.
                They wanted to transform this space into a family-friendly retreat featuring ample windows to showcase
                and enjoy the surrounding landscape. -->
            <!-- <div class="details-highlights">
                <table>
                    <tr>
                        <td><strong>LOCATION: </strong></td>
                        <td>York Village</td>
                    </tr>
                    <tr>
                        <td><strong>DATE: </strong></td>
                        <td>2025</td>
                    </tr>
                </table>
            </div> -->
        </div>
    </div>
    <div class="main-img">
        <img src="/static/img/IvyHolme/thumbs/DSCF7468.png">
    </div>
    <div class="container project-overview">
    <h2>An All-Season Garden Room That Blends Into the Landscape</h2>
    <p>The Ivy Holme Summerhouse sits effortlessly within the garden, its careful material palette and refined detailing creating an inviting, 
        all-season retreat for every member of the family.
    </p>
    <p>Thoughtfully positioned to capture views and natural light, it forms a gentle transition between indoors and outdoors. Generous 
        openings frame the surrounding planting, while robust, low-maintenance finishes ensure comfort in every kind of weather. Designed 
        for flexibility—from peaceful solitude to lively family time—the space adapts with ease to the changing needs of all ages.</p>
    </div>
    <div class="container project-plans">
        <div class="plan-card">
            <a target="_blank" href="/static/img/Ivy Dene.png"><img src="/static/img/Ivy Dene.png" alt="Ivy Holme Floor Plans"></a>
            <figcaption>Site Plan</figcaption>
        </div>
        <div class="plan-card">
            <a target="_blank" href="/static/img/IvyElevations.png"><img src="/static/img/IvyElevations.png" alt="Ivy Holme Elevations"></a>
            <figcaption>Elevations</figcaption>
        </div>
        <div class="plan-card-desc">
            <h2>Our Process</h2>
            <p>We began by carrying out a detailed site survey to understand the topography and the existing landscape features of the 
                garden. Using this, we developed a design that brings in plenty of natural light and creates strong visual 
                connections to the landscape through large, slim-frame aluminium windows and doors. We incorporated sustainable materials and a 
                rainwater-harvesting system to integrate the project with its surroundings. The design also includes an undercover 
                BBQ area, providing a practical and sheltered outdoor space for year-round use.</p>
            <!-- <a href="#contact-us" class="button hero-btn">BRIEF US ON YOUR PROJECT</a> -->
        </div>
    </div>
    <div class="container project-para">
        <!-- <h2>Design Process</h2> -->
        <div class="project-collage">
            <div class="collage-column">
                <!-- <a target="_blank" href="/static/img/IvyHolme/full/DSCF7468.png"><img
                    src="/static/img/IvyHolme/thumbs/DSCF7468.png"></a> -->
                <a target="_blank" href="/static/img/IvyHolme/full/DSCF7478.png"><img
                        src="/static/img/IvyHolme/thumbs/DSCF7478.png"></a>
                <a target="_blank" href="/static/img/IvyHolme/full/DSCF7459.png"><img
                        src="/static/img/IvyHolme/thumbs/DSCF7459.png"></a>
                <!-- <a target="_blank" href="/static/img/IvyHolme/full/DSCF7452.png"><img
                    src="/static/img/IvyHolme/thumbs/DSCF7452.png"></a> -->
            </div>
            <div class="collage-column">
                <a target="_blank" href="/static/img/IvyHolme/full/DSCF7451.png"><img
                        src="/static/img/IvyHolme/thumbs/DSCF7451.png"></a>
                <a target="_blank" href="/static/img/IvyHolme/full/DSCF7486.png"><img
                        src="/static/img/IvyHolme/thumbs/DSCF7486.png"></a>
            </div>
            <div class="collage-column">
                <a target="_blank" href="/static/img/IvyHolme/full/DSCF7474.png"><img
                        src="/static/img/IvyHolme/thumbs/DSCF7474.png"></a>
                <a target="_blank" href="/static/img/IvyHolme/full/DSCF7464.png"><img
                        src="/static/img/IvyHolme/thumbs/DSCF7464.png"></a>
            </div>
        </div>
    </div>
</div>

<!-- CONTACT SECTION -->
<div class="container contact-section" id="contact-us">
    <div class="contact-inner">
        <div class="contact-details">
            <h2>CONTACT US TODAY</h2>
            <p><strong>Tel:</strong> 07353 765766<br />
                <strong>Email:</strong> hello@yorkdrawingservices.com<br />
                <strong>Social:</strong> @yorkdrawingservices
            </p>
            <a class="button contact-btn" href="tel:07353765766">CALL US</a>
            <a class="button contact-btn" href="mailto:hello@yorkdrawingservices.com">EMAIL US</a>
        </div>
        <div class="contact-form-block">
            <span class="contact-form-label"></span>
            <form id="contact-form" action="https://formspree.io/f/xnnpbzdl" method="POST">
                <fieldset>
                    <p id="contact-form-status"></p>
                    <div class="field">
                        <label for="name">Name</label>
                        <input class="input w-full" required name="name" />
                    </div>
                    <div class="field">
                        <label for="telephone">Phone number</label>
                        <input class="input w-full" required type="tel" name="telephone" />
                    </div>
                    <div class="field">
                        <label for="email">Email</label>
                        <input class="input w-full" required type="email" name="email" />
                    </div>
                    <div class="field">
                        <label for="message">Project address and description</label>
                        <textarea rows="4" style="height:125px" class="input w-full" required name="message"></textarea>
                    </div>
                    <div class="field">
                        <button id="submit-button" class="button" type="submit">Send</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>