<!-- HEADER SECTION -->
<div class="projects-header">
    <div class="project-details">
        <h2 class="details-title">Architectural Design Projects in York</h2>
        <div class="details-content">
            <p class="details-desc">View examples of our completed house extensions, loft conversions, garage
                conversions and planning drawings for homeowners throughout York and North Yorkshire.</p>
        </div>
    </div>
</div>
<div class="blog-list">
    <div class="blog-card">
        <a href="/pages/ivy">
            <img src="/static/img/IvyHolme/thumbs/DSCF7468.webp" alt="New Outbuilding / Summerhouse">
            <div class="blog-card-details">
                <div class="blog-author">
                    Ivy Holme
                </div>
            </div>
            <p>Summerhouse / outbuilding design.</p>
        </a>
    </div>
    <div class="blog-card">
        <a href="/pages/deramore">
            <img src="/static/img/Deramore/image1_rendered.webp" alt="Rear Single-Storey Extension">
            <div class="blog-card-details">
                <div class="blog-author">
                    Deramore
                </div>
            </div>
            <p>Single storey rear extension.</p>
        </a>
    </div>
    <div class="blog-card">
        <a href="/pages/tawny">
            <img src="/static/img/Tawny/TawnyKitchen.webp" alt="Tawny House">
            <div class="blog-card-details">
                <div class="blog-author">
                    Tawny House
                </div>
            </div>
            <p>Remodel design, project management and interior design.</p>
        </a>
    </div>
</div>