<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-FHYP65RPWQ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-FHYP65RPWQ');
</script>

<div class="projects-header">
    <div class="title-and-links">
        <div class="header-titles">
            <h1 class="section-header"><a href="https://yorkdrawingservices.com/">YDS</a></h1>
            <!-- <h1 class="project-name">IVY HOLME</h1> -->
        </div>
        <div class="header-link">
            <a class="header-items" href="/">Home</a>
            <a class="header-items" href="tel:07353765766">
                <x class="phone">
                    <small class="icon">&#128222;</small> 07353 765766
                </x>
            </a>
        </div>
    </div>
    <div class="project-details">
        <h2 class="testimonials-title">TESTIMONIALS</h2>
        <div>
            <a
                href="https://www.google.com/search?sca_esv=dc45e1216515a3e4&cs=0&biw=1512&bih=823&aic=0&sxsrf=ANbL-n6SytvX18n59Da7JxWd_v5OGYtVsg:1770113251105&si=AL3DRZEsmMGCryMMFSHJ3StBhOdZ2-6yYkXd_doETEE1OR-qOeoi7A7ju-xyZnLCwM91h_Gqw77N7CrrV_jJitpDWWej3q4QoAJWWKwIFeZXVHWLHtpYq7STBM3wff7O2AeKHvDTi7akJdr3KmuZwU618Pox4QoOjA%3D%3D&q=York+Drawing+Services+Reviews&sa=X&ved=2ahUKEwiyhq3cib2SAxUVW0EAHe4OC10Q0bkNegQIIBAF#:~:text=Website-,Reviews,-Save"
                class="google-link">
                <img src="/static/img/google_g_icon_.png" alt="Google Icon">
                <div class="google-text">
                    <p>Google Rating</p>
                    <p class="orange">5.0 ★★★★★</p>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="testimonials-list">
    <div class="testimonial-card">
        <p>Absolutely amazing service. Sophia really listened to our wants and needs and went above and beyond.
            Very happy with the service she provided. I will be highly recommending to all my friends and
            family!</p>
        <div class="testimonial-details">
            <div class="testimonial-author">
                LOTTIE CARRINGTON
                <p>Google</p>
            </div>
            <div class="testimonial-rating">
                ★★★★★
            </div>
        </div>
    </div>
    <div class="testimonial-card">
        <p>Wonderful service, very happy with the result and it helped us a lot in understanding the process
            since this is our first time</p>
        <div class="testimonial-details">
            <div class="testimonial-author">
                AMBER BECK
                <p>Google</p>
            </div>
            <div class="testimonial-rating">
                ★★★★★
            </div>
        </div>
    </div>
    <div class="testimonial-card">
        <p>We would definitely recommend York Drawing services to do your building control drawings. Sophia was
            prompt and efficient from start to finish and very competitive with her prices!</p>
        <div class="testimonial-details">
            <div class="testimonial-author">
                JOHN YEOMAN
                <p>Google</p>
            </div>
            <div class="testimonial-rating">
                ★★★★★
            </div>
        </div>
    </div>
    <div class="testimonial-card">
        <p>Sophia was professional throughout, and gave some very good and sound advice after listening to our
            requirements. We wouldn't hesitate in recommending to others or engaging her skills for any future
            projects.</p>
        <div class="testimonial-details">
            <div class="testimonial-author">
                STEVE HARDCASTLE
                <p>Google</p>
            </div>
            <div class="testimonial-rating">
                ★★★★★
            </div>
        </div>
    </div>
    <div class="testimonial-card">
        <p>Sophia was great to work with, she did our two story side extension drawings really quickly and helped
            us understand the planning process and what we needed to do. I'd highly recommend her!</p>
        <div class="testimonial-details">
            <div class="testimonial-author">
                JOE GREEN
                <p>Google</p>
            </div>
            <div class="testimonial-rating">
                ★★★★★
            </div>
        </div>
    </div>
    <div class="testimonial-card">
        <p>Highly professional and efficient service. Sophia paid great attention to detail and made all the
            adjustments I requested with no hassle. Her communication was personal and friendly throughout, making
            the whole experience smooth and enjoyable. I'm really happy with the final result!</p>
        <div class="testimonial-details">
            <div class="testimonial-author">
                BAZOOKAGOAL SALES
                <p>Google</p>
            </div>
            <div class="testimonial-rating">
                ★★★★★
            </div>
        </div>
    </div>
    <div class="testimonial-card">
        <p>Couldn’t be happier. Sophia delivered the drawings really quickly and her knowledge made the whole process
            smooth and stress free</p>
        <div class="testimonial-details">
            <div class="testimonial-author">
                ANDREA TURNER
                <p>Google</p>
            </div>
            <div class="testimonial-rating">
                ★★★★★
            </div>
        </div>
    </div>
    <div class="testimonial-card">
        <p>Great experience! Clear communication, detailed drawings, and fast delivery. Couldn’t ask for better service.
        </p>
        <div class="testimonial-details">
            <div class="testimonial-author">
                CARA MCGOVERN
                <p>Google</p>
            </div>
            <div class="testimonial-rating">
                ★★★★★
            </div>
        </div>
    </div>
</div>