<!-- HEADER SECTION -->
<div class="projects-header">
    <div class="title-and-links">
        <div class="header-titles">
            <h1 class="section-header"><a href="https://yorkdrawingservices.com/">YDS</a></h1>
            <!-- <h1 class="project-name">IVY HOLME</h1> -->
        </div>
        <div class="header-link">
        <a class="header-items" href="/">Home</a>
        <a class="header-items" href="tel:07353765766">
            <x class="phone">
            <small class="icon">&#128222;</small> 07353 765766
            </x>
        </a>
        </div>
    </div>
    <div class="project-details">
        <h2 class="details-title">TAWNY HOUSE</h2>
        <div class="details-content">
            <p class="details-desc"> This interior design project demonstrates our ability to design serene, open-plan
                 spaces, where natural light, generous proportions, and sustainable materials come together to create a 
                 restorative environment.</p>
                <a href="#contact-us" class="button hero-btn">BRIEF US ON YOUR PROJECT</a>
        </div>
    </div>
    <div class="main-img-tawny">
        <img src="/static/img/Tawny/TawnyKitchen.png">
    </div>
    <div class="container project-overview">
    <h2>A Timeless Kitchen Designed for Family Living</h2>
    <p>This kitchen redesign focused on updating the space to better serve a busy family while retaining a classic, long-lasting character. 
        Improved spatial planning and practical design decisions enhance functionality, making the kitchen more intuitive and enjoyable to 
        use day to day. The result is a welcoming, hardworking space that balances modern comfort with timeless design.
    </p>
    <p>The design prioritises durability, ease of use, and a warm, inviting atmosphere, ensuring the kitchen remains both practical and 
        enduring for years to come.</p>
    </div>
    <div class="container project-plans">
        <div class="plan-card">
            <a target="_blank" href="/static/img/Tawny/TawnyFamilyShower.png"><img src="/static/img/Tawny/TawnyFamilyShower.png" alt="Tawny House Family Shower"></a>
            <!-- <figcaption>Site Plan</figcaption> -->
        </div>
        <div class="plan-card">
            <a target="_blank" href="/static/img/Tawny/TawnyFamilyVanity.png"><img src="/static/img/Tawny/TawnyFamilyVanity.png" alt="Tawny House Family Vanity"></a>
            <!-- <figcaption>Elevations</figcaption> -->
        </div>
        <div class="plan-card">
            <a target="_blank" href="/static/img/Tawny/TawnyMasterBath.png"><img src="/static/img/Tawny/TawnyMasterBath.png" alt="Tawny House Master Bath"></a>
            <!-- <figcaption>Elevations</figcaption> -->
        </div>
        <div class="plan-card-desc">
            <h2>Calm, Light-Filled Bathrooms for Everyday Retreat</h2>
            <p>The interior redesign focused on elevating everyday spaces through thoughtful planning and refined detailing. The kitchen was 
                updated to enhance functionality and ease of use for family life, while maintaining a timeless character that will age gracefully. 
                In contrast, the bathrooms were conceived as calm, spa-like retreats, defined by generous proportions, natural finishes, and a 
                sense of openness. Carefully layered materials and considered spatial arrangements create a luxurious yet understated atmosphere, 
                resulting in interiors that feel both indulgent and deeply practical..</p>
            <!-- <a href="#contact-us" class="button hero-btn">BRIEF US ON YOUR PROJECT</a> -->
        </div>
    </div>
</div>

<!-- CONTACT SECTION -->
<div class="container contact-section" id="contact-us">
    <div class="contact-inner">
        <div class="contact-details">
            <h2>CONTACT US TODAY</h2>
            <p><strong>Tel:</strong> 07353 765766<br />
                <strong>Email:</strong> hello@yorkdrawingservices.com<br />
                <strong>Social:</strong> @yorkdrawingservices
            </p>
            <a class="button contact-btn" href="tel:07353765766">CALL US</a>
            <a class="button contact-btn" href="mailto:hello@yorkdrawingservices.com">EMAIL US</a>
        </div>
        <div class="contact-form-block">
            <span class="contact-form-label"></span>
            <form id="contact-form" action="https://formspree.io/f/xnnpbzdl" method="POST">
                <fieldset>
                    <p id="contact-form-status"></p>
                    <div class="field">
                        <label for="name">Name</label>
                        <input class="input w-full" required name="name" />
                    </div>
                    <div class="field">
                        <label for="telephone">Phone number</label>
                        <input class="input w-full" required type="tel" name="telephone" />
                    </div>
                    <div class="field">
                        <label for="email">Email</label>
                        <input class="input w-full" required type="email" name="email" />
                    </div>
                    <div class="field">
                        <label for="message">Project address and description</label>
                        <textarea rows="4" style="height:125px" class="input w-full" required name="message"></textarea>
                    </div>
                    <div class="field">
                        <button id="submit-button" class="button" type="submit">Send</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>